@model IEnumerable<Modelo.Pago>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Asesor.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lote.Descripcion)
            </th>
            <th>
                Prototipo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoApartado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Credito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Banco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vigencia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoEnganche)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pago1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImportePago1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pago2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImportePago2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pago3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImportePago3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pago4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImportePago4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pago5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImportePago5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cambios)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Observaciones)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Asesor.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cliente.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lote.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PrototipoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MontoApartado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Credito)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Banco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vigencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MontoEnganche)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pago1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImportePago1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pago2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImportePago2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pago3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImportePago3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pago4)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImportePago4)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pago5)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImportePago5)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cambios)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observaciones)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
