@model Modelo.Etapa

@{
    ViewBag.Title = "Create";
}
<br />
@*<h2>Create</h2>*@

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    @*<h4>Etapa</h4>
        <hr />*@
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="invoice p-3 mb-3">
        <div class="form-group row align-items-end">
            <div class="col-md-1">
            </div>
            @Html.LabelFor(model => model.Descripcion, "Etapa:", htmlAttributes: new { @class = "control-label col-md-5 text-right" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group row align-items-center">
            <div class="col-md-2">
            </div>
            @Html.LabelFor(model => model.Lote1, "Lote 1:", htmlAttributes: new { @class = "control-label col-md-1 text-right" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Lote1)
                    @Html.ValidationMessageFor(model => model.Lote1, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="col-md-1">
            </div>*@
            @Html.LabelFor(model => model.Lote2, "Lote 2:", htmlAttributes: new { @class = "control-label col-md-1 text-right" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Lote2)
                    @Html.ValidationMessageFor(model => model.Lote2, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="col-md-1">
            </div>*@
            @Html.LabelFor(model => model.Lote3, "Lote 3:", htmlAttributes: new { @class = "control-label col-md-1 text-right" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Lote3)
                    @Html.ValidationMessageFor(model => model.Lote3, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="col-md-1">
            </div>*@
            @Html.LabelFor(model => model.Lote4, "Lote 4:", htmlAttributes: new { @class = "control-label col-md-1 text-right" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Lote4)
                    @Html.ValidationMessageFor(model => model.Lote4, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="form-group row align-items-center">
            <div class="col-md-2">
            </div>
            @Html.LabelFor(model => model.Lote5, "Lote 5:", htmlAttributes: new { @class = "control-label col-md-1 text-right" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Lote5)
                    @Html.ValidationMessageFor(model => model.Lote5, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="col-md-1">
            </div>*@
            @Html.LabelFor(model => model.Lote6, "Lote 6:", htmlAttributes: new { @class = "control-label col-md-1 text-right" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Lote6)
                    @Html.ValidationMessageFor(model => model.Lote6, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="col-md-1">
            </div>*@
            @Html.LabelFor(model => model.Lote7, "Lote 7:", htmlAttributes: new { @class = "control-label col-md-1 text-right" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Lote7)
                    @Html.ValidationMessageFor(model => model.Lote7, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="col-md-1">
            </div>*@
            @Html.LabelFor(model => model.Lote8, "Lote 8:", htmlAttributes: new { @class = "control-label col-md-1 text-right" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Lote8)
                    @Html.ValidationMessageFor(model => model.Lote8, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="form-group row align-items-center">
            <div class="col-md-2">
            </div>
            @Html.LabelFor(model => model.Lote9, "Lote 9:", htmlAttributes: new { @class = "control-label col-md-1 text-right" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Lote9)
                    @Html.ValidationMessageFor(model => model.Lote9, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="col-md-1">
            </div>*@
            @Html.LabelFor(model => model.Lote10, "Lote 10:", htmlAttributes: new { @class = "control-label col-md-1 text-right" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Lote10)
                    @Html.ValidationMessageFor(model => model.Lote10, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="col-md-1">
            </div>*@
            @Html.LabelFor(model => model.Lote3, "Lote 11:", htmlAttributes: new { @class = "control-label col-md-1 text-right" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Lote11)
                    @Html.ValidationMessageFor(model => model.Lote11, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="col-md-1">
            </div>*@
            @Html.LabelFor(model => model.Lote12, "Lote 12:", htmlAttributes: new { @class = "control-label col-md-1 text-right" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Lote12)
                    @Html.ValidationMessageFor(model => model.Lote12, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="form-group row align-items-center">
            <div class="col-md-2">
            </div>
            @Html.LabelFor(model => model.Lote13, "Lote 13:", htmlAttributes: new { @class = "control-label col-md-1 text-right" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Lote13)
                    @Html.ValidationMessageFor(model => model.Lote13, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="col-md-1">
            </div>*@
            @Html.LabelFor(model => model.Lote14, "Lote 14:", htmlAttributes: new { @class = "control-label col-md-1 text-right" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Lote14)
                    @Html.ValidationMessageFor(model => model.Lote14, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="col-md-1">
            </div>*@
            @Html.LabelFor(model => model.Lote15, "Lote 15:", htmlAttributes: new { @class = "control-label col-md-1 text-right" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Lote15)
                    @Html.ValidationMessageFor(model => model.Lote15, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="col-md-1">
            </div>*@
            @Html.LabelFor(model => model.Lote16, "Lote 16:", htmlAttributes: new { @class = "control-label col-md-1 text-right" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Lote16)
                    @Html.ValidationMessageFor(model => model.Lote16, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="form-group row align-items-center">
            <div class="col-md-2">
            </div>
            @Html.LabelFor(model => model.Lote17, "Lote 17:", htmlAttributes: new { @class = "control-label col-md-1 text-right" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Lote17)
                    @Html.ValidationMessageFor(model => model.Lote17, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="col-md-1">
            </div>*@
            @Html.LabelFor(model => model.Lote18, "Lote 18:", htmlAttributes: new { @class = "control-label col-md-1 text-right" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Lote18)
                    @Html.ValidationMessageFor(model => model.Lote18, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="col-md-1">
            </div>*@
            @Html.LabelFor(model => model.Lote19, "Lote 19:", htmlAttributes: new { @class = "control-label col-md-1 text-right" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Lote19)
                    @Html.ValidationMessageFor(model => model.Lote19, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="col-md-1">
            </div>*@
            @Html.LabelFor(model => model.Lote20, "Lote 20:", htmlAttributes: new { @class = "control-label col-md-1 text-right" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Lote20)
                    @Html.ValidationMessageFor(model => model.Lote20, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>


        <div class="form-group row align-items-center">
            <div class="col-md-2">
            </div>
            @Html.LabelFor(model => model.Lote21, "Lote 21:", htmlAttributes: new { @class = "control-label col-md-1 text-right" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Lote21)
                    @Html.ValidationMessageFor(model => model.Lote21, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="col-md-1">
            </div>*@
            @Html.LabelFor(model => model.Lote22, "Lote 22:", htmlAttributes: new { @class = "control-label col-md-1 text-right" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Lote22)
                    @Html.ValidationMessageFor(model => model.Lote22, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="col-md-1">
            </div>*@
            @Html.LabelFor(model => model.Lote23, "Lote 23:", htmlAttributes: new { @class = "control-label col-md-1 text-right" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Lote23)
                    @Html.ValidationMessageFor(model => model.Lote23, "", new { @class = "text-danger" })
                </div>
            </div>
            @*<div class="col-md-1">
            </div>*@
            @Html.LabelFor(model => model.Lote24, "Lote 24:", htmlAttributes: new { @class = "control-label col-md-1 text-right" })
            <div class="col-md-1">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Lote24)
                    @Html.ValidationMessageFor(model => model.Lote24, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <br />
        <br />
        <div class="form-group row align-content-md-center">
            <div class="col-md-5 control-label text-md-right">
                <label class="control-label">MODELOS:</label>
            </div>
            <div class="col-md-4 control-label text-md-center">
                <label class="control-label">PRECIOS:</label>
            </div>
        </div>
        <div class="form-group row align-items-end">
            @Html.LabelFor(model => model.Dalia, "DALIA:", htmlAttributes: new { @class = "control-label col-md-5 text-right" })
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
                @Html.EditorFor(model => model.Dalia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dalia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row align-items-end">
            @Html.LabelFor(model => model.Azalea, "AZALEA:", htmlAttributes: new { @class = "control-label col-md-5 text-right" })
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
                @Html.EditorFor(model => model.Azalea, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Azalea, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row align-items-end">
            @Html.LabelFor(model => model.Iris, "IRIS:", htmlAttributes: new { @class = "control-label col-md-5 text-right" })
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
                @Html.EditorFor(model => model.Iris, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Iris, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row align-items-end">
            @Html.LabelFor(model => model.Orquidea, "ORQUIDEA:", htmlAttributes: new { @class = "control-label col-md-5 text-right" })
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
                @Html.EditorFor(model => model.Orquidea, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Orquidea, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row align-items-end">
            @Html.LabelFor(model => model.Bugambilia, "BUGAMBILIA:", htmlAttributes: new { @class = "control-label col-md-5 text-right" })
            <div class="col-md-1">
            </div>
            <div class="col-md-2">
                @Html.EditorFor(model => model.Bugambilia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Bugambilia, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <br />
        <div class="form-group row align-items-end">
            @Html.LabelFor(model => model.PrecioM2Excedente, "Precio m2 excedente:", htmlAttributes: new { @class = "control-label col-md-3 text-right" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.PrecioM2Excedente, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PrecioM2Excedente, "", new { @class = "text-danger" })
            </div>
            @Html.LabelFor(model => model.MontoEsquina,"Monto esquina:", htmlAttributes: new { @class = "control-label col-md-3 text-right" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.MontoEsquina, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MontoEsquina, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <br />
        <div class="form-group">
            <div class="ml-auto col-md-3">
                <input type="submit" value="Guardar" class="btn btn-primary" /> |
                @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>



    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Lote1, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Lote1)
                @Html.ValidationMessageFor(model => model.Lote1, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Lote2, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Lote2)
                @Html.ValidationMessageFor(model => model.Lote2, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Lote3, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Lote3)
                @Html.ValidationMessageFor(model => model.Lote3, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Lote4, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Lote4)
                @Html.ValidationMessageFor(model => model.Lote4, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Lote5, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Lote5)
                @Html.ValidationMessageFor(model => model.Lote5, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Lote6, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Lote6)
                @Html.ValidationMessageFor(model => model.Lote6, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Lote7, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Lote7)
                @Html.ValidationMessageFor(model => model.Lote7, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Lote8, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Lote8)
                @Html.ValidationMessageFor(model => model.Lote8, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Lote9, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Lote9)
                @Html.ValidationMessageFor(model => model.Lote9, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Lote10, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Lote10)
                @Html.ValidationMessageFor(model => model.Lote10, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Lote11, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Lote11)
                @Html.ValidationMessageFor(model => model.Lote11, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Lote12, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Lote12)
                @Html.ValidationMessageFor(model => model.Lote12, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Lote13, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Lote13)
                @Html.ValidationMessageFor(model => model.Lote13, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Lote14, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Lote14)
                @Html.ValidationMessageFor(model => model.Lote14, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Lote15, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Lote15)
                @Html.ValidationMessageFor(model => model.Lote15, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Lote16, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Lote16)
                @Html.ValidationMessageFor(model => model.Lote16, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Lote17, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Lote17)
                @Html.ValidationMessageFor(model => model.Lote17, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Lote18, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Lote18)
                @Html.ValidationMessageFor(model => model.Lote18, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Lote19, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Lote19)
                @Html.ValidationMessageFor(model => model.Lote19, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Lote20, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Lote20)
                @Html.ValidationMessageFor(model => model.Lote20, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Lote21, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Lote21)
                @Html.ValidationMessageFor(model => model.Lote21, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Lote22, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Lote22)
                @Html.ValidationMessageFor(model => model.Lote22, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Lote23, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Lote23)
                @Html.ValidationMessageFor(model => model.Lote23, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Lote24, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Lote24)
                @Html.ValidationMessageFor(model => model.Lote24, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Dalia, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Dalia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Dalia, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Azalea, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Azalea, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Azalea, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Iris, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Iris, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Iris, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Orquidea, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Orquidea, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Orquidea, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Bugambilia, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Bugambilia, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Bugambilia, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PrecioM2Excedente, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PrecioM2Excedente, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PrecioM2Excedente, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MontoEsquina, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MontoEsquina, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MontoEsquina, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>*@
</div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
