@model IEnumerable<Modelo.Etapa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dalia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Azalea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Iris)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Orquidea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bugambilia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrecioM2Excedente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoEsquina)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Dalia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Azalea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Iris)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Orquidea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bugambilia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioM2Excedente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoEsquina)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
        }
    </tbody>
</table>
