@model Modelo.Lote

@{
    ViewBag.Title = "Create";
}
@*<img src="~/Content/img/andalucia3.png" />*@
<br />


@*<h2>Create</h2>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="invoice p-3 mb-3">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group row align-items-end">
            <div class="col-md-1">
            </div>
            @Html.LabelFor(model => model.Manzana,"Manzana:", htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Manzana, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Manzana, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-1">
            </div>
            @Html.LabelFor(model => model.Descripcion,"Lote:", htmlAttributes: new { @class = "control-label col-md-1 text-right" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control", @type = "number", @min = "0", @max = "24" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <br />
        <div class="form-group row align-items-end">
            <div class="col-md-1">
            </div>
            @Html.LabelFor(model => model.M2Terreno,"M2 Terreno:", htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.M2Terreno, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.M2Terreno, "", new { @class = "text-danger" })
            </div>
            @*<div class="col-md-1">
            </div>*@
            @Html.LabelFor(model => model.ExcedenteM2, "Excedente M2:", htmlAttributes: new { @class = "control-label col-md-2 text-right" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.ExcedenteM2, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExcedenteM2, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <br>
        <div class="form-group row align-items-center">
            <div class="form-check">

            </div>
            <div class="col-md-1">
            </div>
            @Html.LabelFor(model => model.Esquina, htmlAttributes: new { @class = "control-label col-md-1" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.Esquina, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Esquina, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
    <div class="ml-auto col-md-3">
        <input type="submit" value="Guardar" class="btn btn-primary" /> |
        @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-default" })
    </div>
</div>
}
@*<div class="form-group">
    <div class="ml-auto col-md-2">
        <input type="submit" value="Guardar" class="btn btn-primary" /> |
        @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-default" })
    </div>
</div>*@

@*<div>
    @Html.ActionLink("Atras", "Index", null, new { @class = "btn btn-default" })
</div>*@
