@model Modelo.Lote

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lote</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manzana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manzana)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.M2Terreno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.M2Terreno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExcedenteM2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExcedenteM2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Esquina)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Esquina)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
