@model IEnumerable<Modelo.Lote>

@{
    ViewBag.Title = "Index";
}

@*<h2>Index</h2>*@
<br />
<p>
    @Html.ActionLink("Nuevo", "Creedit", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Lote
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manzana)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.M2Terreno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExcedenteM2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Esquina)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manzana)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.M2Terreno)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExcedenteM2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Esquina)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Creedit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @*@Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                </td>
            </tr>
        }
    </tbody>
</table>
